%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  %button.navbar-toggler.navbar-toggler-right{ 'aria-controls' => 'navbar-supported-content',
  'aria-expanded' => 'false',
  'aria-label' => 'Toggle navigation',
  'data-target' => '#navbar-supported-content',
  'data-toggle' => 'collapse',
  type: 'button' }
    %span.navbar-toggler-icon

  %a.navbar-brand{ href: root_path }= t('.title')
  .collapse.navbar-collapse#navbar-supported-content
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to 'menu1', '', class: 'nav-link'

    %ul.navbar-nav.my-2.my-lg-0
      - if user_signed_in?
        = link_to current_user.decorate.full_name_with_logout,
        destroy_user_session_path,
        method: :delete, class: 'nav-link'
